*{
	padding: 0;
	text-decoration: none;
	list-style: none;
	margin: 0;
	border: 1px solid;
}

body, html  {
	height: 100%;
	width: 100%;
	background-color: rgb(120, 120, 120);
	border: 1px solid red;
}

.navbar{
	width: 100%;
	height: 100%;
	border: 1px solid greenyellow;


}

.list{
	margin: 50px;
}

.sidebar{
	justify-self: center;
	display: flex;
}

.ul{
	display: flex;
}
